{% extends 'nav-bar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Machine Spare Parts 3D Printing Services</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Machine Spare Parts 3D Printing Services — Custom and Replacement Components" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style-copy.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'jpg/fevicon.png' %}" type="">
</head>

<body>
    <div id="wrapper">
        <div class="float-text show-on-scroll">
            <span><a href="service-single.html#">Scroll to top</a></span>
        </div>
        <div class="scrollbar-v show-on-scroll"></div>

        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->
        <div class="header_bottom">
            <div class="container-fluid">
            </div>
        </div>
        <!-- header begin -->
        <header class="header-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            {% comment %} navbar {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <section style="background-color: #0a2e45;" class="section-dark text-light pb-0 relative overflow-hidden">
                <img src="" class="w-5 mt-min-60 abs start-10 bottom-10 wow scaleOut" alt="">
                <div id="shine-wrapper">
                    <div class="template shine"></div>
                </div>
                <div class="container relative z-1000">
                    <div class="row g-3 align-items-center">
                        <div class="col-lg-6">
                            <div class="relative z-1000">
                                <h1 class="wow fadeInUp mb-2" data-wow-delay=".2s">Machine Spare Parts 3D Printing</h1>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'jpg/misc/spare-part.png' %}" class="w-70 h-70" data-0="transform: translateY(0px);" data-500="transform: translateY(300px);" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative overflow-hidden">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <p class="lead">3D printing for machine spare parts offers a fast and cost-effective solution for producing custom or replacement components, minimizing downtime and enabling complex designs.</p>
                            <div class="spacer-single"></div>
                            <h3 class="mb-3">Applications</h3>
                            <ul class="ul-style-2 fw-500">
                                <li><strong>Prototyping:</strong> Rapidly create and test designs for new machine parts.</li>
                                <li><strong>Custom Parts:</strong> Produce tailored parts for specific machinery.</li>
                                <li><strong>Replacement Parts:</strong> Manufacture spare parts that are hard to source.</li>
                                <li><strong>Complex Geometries:</strong> Create parts with intricate shapes difficult to produce traditionally.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 bg-color text-light rounded-1 h-100">
                                <h3 class="mb-3">Why Choose Our Machine Spare Parts 3D Printing Services?</h3>
                                <ul class="ol-style-1">
                                    <li><strong>Advantages</strong>:
                                        <ul>
                                            <li><strong>Speed:</strong> Quickly produce parts to minimize machine downtime.</li>
                                            <li><strong>Customization:</strong> Tailor parts to specific requirements and dimensions.</li>
                                            <li><strong>Cost-Effective:</strong> Reduces costs for small runs and eliminates expensive tooling.</li>
                                            <li><strong>Complex Geometries:</strong> Produce intricate and detailed designs.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-light">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <h3 class="mb-0">Materials</h3>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/pla.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>PLA (Polylactic Acid)</h4>
                            <p>Suitable for non-load-bearing parts and quick prototypes.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/abs.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>ABS (Acrylonitrile Butadiene Styrene)</h4>
                            <p>Strong and durable, ideal for functional and mechanical parts.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/petg.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>PETG (Polyethylene Terephthalate Glycol)</h4>
                            <p>Strong, durable, and easy to print for versatile spare parts.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/nylon.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Nylon</h4>
                            <p>High strength and flexibility, excellent for gears and mechanical components.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/tpu.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>TPU (Thermoplastic Polyurethane)</h4>
                            <p>Flexible and elastic, suitable for parts requiring flexibility.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-6/carbon-fiber.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Carbon Fiber Reinforced Filaments</h4>
                            <p>High strength and stiffness, ideal for structural components.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/metal-filament.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Metal Filaments</h4>
                            <p>Infused with metal particles, used for high-strength and heat-resistant parts.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/resin.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Resin</h4>
                            <p>High detail and smooth finish, suitable for precise and intricate parts.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/engineering-grade.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Engineering-Grade Materials</h4>
                            <p>PEEK, PEI (Ultem), and other high-performance plastics for industrial applications.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <h3 class="mb-3">Considerations</h3>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li><strong>Material Properties:</strong> Choose materials based on required strength, durability, and thermal resistance.</li>
                            <li><strong>Post-Processing:</strong> Some parts may require finishing for improved performance and appearance.</li>
                            <li><strong>Mechanical Stress:</strong> Ensure materials and designs withstand operational stress and load.</li>
                        </ul>
                        <div class="spacer-20"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
    </div>

    <div id="buy-now" class="show-on-scroll">
        <a class="btn-buy" href="https://themeforest.net/item/uclean-cleaning-service-website-template/56396174" target="_blank">Buy on <img src="demo/envato.png" class="" alt=""></a>
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/custom-marquee.js' %}"></script>
    <script src="{% static 'js/custom-swiper-1.js' %}"></script>
    <script src="{% static 'js/jquery.event.move.js' %}"></script>
    <script src="{% static 'js/jquery.twentytwenty.js' %}"></script>
    <script>
    $(window).on("load", function(){
      $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.5, orientation: 'vertical'});
    });
    </script>
</html>
{% endblock %}