{% extends 'nav-bar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>PCB Enclosure 3D Printing Services</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="PCB Enclosure 3D Printing Services — Custom Enclosures for Electronics" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style-copy.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'jpg/fevicon.png' %}" type="">
</head>

<body>
    <div id="wrapper">
        <div class="float-text show-on-scroll">
            <span><a href="service-single.html#">Scroll to top</a></span>
        </div>
        <div class="scrollbar-v show-on-scroll"></div>

        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->
        <div class="header_bottom">
            <div class="container-fluid">
            </div>
        </div>
        <!-- header begin -->
        <header class="header-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            {% comment %} navbar {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <section style="background-color: #0a2e45;" class="section-dark text-light pb-0 relative overflow-hidden">
                <img src="" class="w-5 mt-min-60 abs start-10 bottom-10 wow scaleOut" alt="">
                <div id="shine-wrapper">
                    <div class="template shine"></div>
                </div>
                <div class="container relative z-1000">
                    <div class="row g-3 align-items-center">
                        <div class="col-lg-6">
                            <div class="relative z-1000">
                                <h1 class="wow fadeInUp mb-2" data-wow-delay=".2s">PCB Enclosure 3D Printing</h1>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'jpg/misc/pcb-enclosure.png' %}" class="w-70 h-70" data-0="transform: translateY(0px);" data-500="transform: translateY(300px);" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative overflow-hidden">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <p class="lead">3D printing for PCB enclosures enables rapid prototyping and small-scale production of custom enclosures tailored to specific printed circuit board designs, offering precision and flexibility for electronics projects.</p>
                            <div class="spacer-single"></div>
                            <h3 class="mb-3">Applications</h3>
                            <ul class="ul-style-2 fw-500">
                                <li><strong>Prototyping:</strong> Quickly create and iterate enclosure designs for PCB prototypes.</li>
                                <li><strong>Custom Enclosures:</strong> Tailor enclosures to specific PCB layouts and dimensions.</li>
                                <li><strong>Small-Scale Production:</strong> Produce limited runs of custom enclosures for specialized electronics.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 bg-color text-light rounded-1 h-100">
                                <h3 class="mb-3">Why Choose Our PCB Enclosure 3D Printing Services?</h3>
                                <ul class="ol-style-1">
                                    <li><strong>Advantages</strong>:
                                        <ul>
                                            <li><strong>Customization:</strong> Tailored enclosures for specific PCB designs.</li>
                                            <li><strong>Speed:</strong> Rapid prototyping and iteration of designs.</li>
                                            <li><strong>Cost-Effective:</strong> Affordable for small quantities compared to traditional methods.</li>
                                            <li><strong>Complex Geometries:</strong> Create intricate designs difficult to achieve otherwise.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-light">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <h3 class="mb-0">Materials</h3>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/pla.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>PLA (Polylactic Acid)</h4>
                            <p>Easy to print and biodegradable, suitable for general-purpose enclosures.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/abs.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>ABS (Acrylonitrile Butadiene Styrene)</h4>
                            <p>Strong and heat-resistant, ideal for functional enclosures.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/petg.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>PETG (Polyethylene Terephthalate Glycol)</h4>
                            <p>Combines strength and ease of printing for durable enclosures.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/nylon.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Nylon</h4>
                            <p>Durable and flexible, suitable for robust enclosures.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/tpu.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>TPU (Thermoplastic Polyurethane)</h4>
                            <p>Flexible and elastic, ideal for enclosures needing flexibility.</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <img src="{% static 'jpg/services/service-9/resin.png' %}" style="height: 230px; width: 310px; object-fit: cover;" class="rounded-1 mb-3" alt="">
                            <h4>Resin</h4>
                            <p>High detail and smooth finish, perfect for intricate enclosure designs.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <h3 class="mb-3">Considerations</h3>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li><strong>Strength and Durability:</strong> Choose materials based on the enclosure’s use case.</li>
                            <li><strong>Heat Resistance:</strong> Ensure the material withstands the electronics’ operating temperature.</li>
                            <li><strong>Post-Processing:</strong> Some materials require finishing for a polished look.</li>
                        </ul>
                        <div class="spacer-20"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
    </div>

    <div id="buy-now" class="show-on-scroll">
        <a class="btn-buy" href="https://themeforest.net/item/uclean-cleaning-service-website-template/56396174" target="_blank">Buy on <img src="demo/envato.png" class="" alt=""></a>
    </div>

    <!-- Javascript Files -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/custom-marquee.js' %}"></script>
    <script src="{% static 'js/custom-swiper-1.js' %}"></script>
    <script src="{% static 'js/jquery.event.move.js' %}"></script>
    <script src="{% static 'js/jquery.twentytwenty.js' %}"></script>
    <script>
    $(window).on("load", function(){
      $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.5, orientation: 'vertical'});
    });
    </script>
</html>
{% endblock %}